.primary--text {
  color: $color-primary;
}

.secondary--text {
  color: $color-secondary;
}

.color {
  &-primary {
    background-color: $color-primary !important;
    color: $color-secondary !important;
  }

  &-secondary {
    background-color: $color-secondary !important;
    color: white !important;
  }
}

