$background-white: #fff;
$background-light-grey: #f2f2f2;

//$primary-400: #ffcb30;

$color-primary-400: #fae278;
$color-primary: #fae379;
$color-primary-600: #f2c230;

//$secondary: #333029;
$color-secondary: #404146;
//$secondary: #262626;
$color-tertiary: #f2dfa7;

$info: #056cf2;
$success: #078c03;
$warning: #f5bd00;
$danger: #d92344;
